# -*- conf -*-
# flake8 settings for axonn
#
# These are the minimal flake8 settings recommended by Black
# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#code-style

[flake8]
max-line-length = 88
extend-ignore = E203
